In [ ]:
# pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/ahsanashraf/miniforge3/lib/python3.10/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from dotenv import load_dotenv
import os
load_dotenv()
password = os.getenv("PASS")

In [9]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=password   #REPLACE THIS WITH THE PASSWORD YOU SET
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x10437a850>
CONNECTION SUCCESSFUL

In [10]:
#create a database
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE data1050f25")

In [11]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('data1050f25',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [ ]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F25.department (dept_name VARCHAR(128) PRIMARY KEY, building VARCHAR(255), budget INT)")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F25.student (ID VARCHAR(128) PRIMARY KEY, name VARCHAR(255), dept_name VARCHAR(128), tot_cred DECIMAL(3,2))")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F25.instructor (ID VARCHAR(128) PRIMARY KEY, name VARCHAR(255), dept_name VARCHAR(128), salary INT)")

In [ ]:
query = ('ALTER TABLE data1050F25.student ADD foreign key(dept_name) references data1050F25.department(dept_name)')
mycursor.execute(query)

In [ ]:
query = ('ALTER TABLE data1050F25.instructor ADD foreign key(dept_name) references data1050F25.department(dept_name)')
mycursor.execute(query)

In [ ]:
#connect to a specific database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=password, #REPLACE THIS WITH YOUR PASSWORD 
  database = "data1050f25" #connecting to testDatabase
)

In [12]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('department',)
('instructor',)
('student',)

In [13]:
import pandas as pd

In [14]:
pip install fsspec

Collecting fsspec
  Downloading fsspec-2024.9.0-py3-none-any.whl.metadata (11 kB)
Downloading fsspec-2024.9.0-py3-none-any.whl (179 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 179.3/179.3 kB 6.3 MB/s eta 0:00:00
Installing collected packages: fsspec
Successfully installed fsspec-2024.9.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("department.csv")

In [16]:
for i,row in data.iterrows():
            sql = "INSERT INTO department VALUES (%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [17]:
query = "SELECT * from department"
mycursor.execute(query)

In [18]:
for x in mycursor:
    print(x)

('AppMath', 'Pembroke', 1000525)
('CompSci', 'CIT', 4000000)
('DSI', 'Angell', 750000)
('Econ', 'Watson', 1230000)
('English', 'Litereria', 1389400)
('Math', 'Pembroke', 999785)
('Philosophy', 'Athenia', 300000)
('Psychology', 'Skinner', 1223350)
('Sociology', 'Watson', 789000)

In [19]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("student.csv")
data.head()

     ID         name   dept_name  tot_cred
0  1238   John Smith         DSI         4
1  1645     Jane Doe  Philosophy         9
2  1888  Chuning Liu     CompSci         5
3  1970  Stan Ambani        Econ         0
4  1845    Jane Chen         DSI         2

In [20]:
data.dtypes

ID            int64
name         object
dept_name    object
tot_cred      int64
dtype: object

In [21]:
for i,row in data.iterrows():
            sql = "INSERT INTO student VALUES (%s,%s,%s, %s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [22]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("instructor.csv")
data.head()

    ID           name   dept_name  salary
0  111      Joe Smith         DSI  120000
1  112     Ying Zheng     CompSci  220000
2  113  Sunil Agarwal     AppMath   99000
3  114    Jennifer Lo     English   86000
4  115    Taylor Slow  Psychology   90000

In [23]:
for i,row in data.iterrows():
            sql = "INSERT INTO instructor VALUES (%s,%s,%s, %s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted