##### Insert Data into `.hospital`

In [7]:
import pandas as pd

In [4]:
from dotenv import load_dotenv
import os
load_dotenv('../.env')
password = os.getenv("PASS")

In [5]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=password,
  database="hospital"
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x12771fe00>
CONNECTION SUCCESSFUL

In [6]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('adverse_interactions',)
('alerts',)
('companies',)
('contracts',)
('drugs',)
('patients',)
('pharmacies',)
('pharmacy_fills',)
('physicians',)
('prescriptions',)

##### Physicians

In [ ]:
import pandas as pd
data = pd.read_csv("../data/sql-project/physicians.csv")

mycursor = mydb.cursor()

print(data.head())
print(data.columns)

for i,row in data.iterrows():
            sql = "INSERT INTO physicians VALUES (%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            mydb.commit()

           SSN        name primary_specialty  experience_years
0  614-57-6885  Srinivasan        Cardiology                 4
1  702-16-8749          Wu       Dermatology                10
2  571-13-9020      Mozart        Cardiology                 0
3  718-27-0905    Einstein        Psychiatry                29
4  230-12-3219     El Said        Psychiatry                12
Index(['SSN', 'name', 'primary_specialty', 'experience_years'], dtype='object')
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [21]:
print(data.head())

           ssn             name                address             birthdate  \
0  478-34-0781    Florance Saiz      7 Fair Oaks Place  1988-11-03T23:25:38Z
1  885-94-4721  Merry Di Pietro      1 Old Shore Court  1991-02-07T22:00:41Z
2  777-39-3296     Myron Cottem  75875 Fulton Crossing  1986-02-20T04:43:29Z
3  227-08-7452   Bearnard Remer  18669 Heffernan Point  2008-01-09T05:34:30Z
4  805-15-2755   Roxana Worster     54 Hudson Junction  1982-11-12T18:11:55Z

  physician_id
0  614-57-6885
1  702-16-8749
2  718-27-0905
3  230-12-3219
4  163-50-5535

##### Patients

In [19]:
data = pd.read_csv("../data/sql-project/patients.csv")
# print(data.head())

for i,row in data.iterrows():
    sql = """INSERT INTO patients(ssn, name, address, birth_date, physician_id)
             VALUES (%s,%s,%s,%s,%s)"""
    mycursor.execute(sql, tuple(row))
    print("Record inserted")
    mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [23]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM patients LIMIT 5")
for x in mycursor:
    print(x)

('192-33-2887', 'Jacinda Stowe', '8 Colorado Alley', '1970-04-15T00:24:26Z', '357-93-5814')
('227-08-7452', 'Bearnard Remer', '18669 Heffernan Point', '2008-01-09T05:34:30Z', '230-12-3219')
('303-13-5928', 'Krystyna Luckie', '54106 Barnett Plaza', '1950-02-11T12:20:13Z', '571-13-9020')
('360-47-2098', 'Peter Lukasen', '552 Ryan Court', '1969-01-10T19:33:03Z', '522-86-5827')
('478-34-0781', 'Florance Saiz', '7 Fair Oaks Place', '1988-11-03T23:25:38Z', '614-57-6885')

##### Pharmacies

In [24]:
data = pd.read_csv("../data/sql-project/pharmacies.csv")
print(data.head())

   id                    name                                address  \
0   1    Springfield Pharmacy   123 Main St,  Springfield,  IL 62701
1   2          Peachtree Meds         456 Elm St,  Atlanta, GA 30303
2   3         Lone Star Drugs          789 Oak St,  Dallas, TX 75201
3   4          Mile High Meds           101 Pine St, Denver, CO80202
4   5   Emerald City Pharmacy     121 Spruce St,  Seattle,  WA 98101

             phone
0   (217) 555-1234
1   (404) 555-5678
2   (214) 555-9101
3   (303) 555-1121
4   (206) 555-1314

In [25]:
for i,row in data.iterrows():
    sql = """INSERT INTO pharmacies(id, name, address, phone)
             VALUES (%s,%s,%s,%s)"""
    mycursor.execute(sql, tuple(row))
    print("Record inserted")
    mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [26]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM pharmacies LIMIT 5")
for x in mycursor:
    print(x)

(Decimal('1'), ' Springfield Pharmacy', ' 123 Main St,  Springfield,  IL 62701', ' (217) 555-1234')
(Decimal('2'), ' Peachtree Meds', ' 456 Elm St,  Atlanta, GA 30303', ' (404) 555-5678')
(Decimal('3'), ' Lone Star Drugs', ' 789 Oak St,  Dallas, TX 75201', ' (214) 555-9101')
(Decimal('4'), ' Mile High Meds', ' 101 Pine St, Denver, CO80202', ' (303) 555-1121')
(Decimal('5'), ' Emerald City Pharmacy', ' 121 Spruce St,  Seattle,  WA 98101', ' (206) 555-1314')

##### Drugs

In [30]:
data = pd.read_csv("../data/sql-project/drugs.csv")
print(data.head(2))

   drug_id     drug_name
0        1    Primalovir
1        2  Olanzanafine

In [31]:
for i,row in data.iterrows():
    sql = """INSERT INTO drugs(id, name)
             VALUES (%s,%s)"""
    mycursor.execute(sql, tuple(row))
    print("Record inserted")
    mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [32]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM drugs LIMIT 5")
for x in mycursor:
    print(x)

(Decimal('9'), 'Abnazole Toleluble')
(Decimal('3'), 'Avafoxin')
(Decimal('5'), 'Cleotrana')
(Decimal('10'), 'Dantopex Quixilinum')
(Decimal('8'), 'Divisporine Acetaclotide')

##### Prescriptions

In [33]:
data = pd.read_csv("../data/sql-project/prescriptions.csv")
print(data.head(2))

   id   patient_id physician_id  drug_name       date  quantity
0   1  478-34-0781  614-57-6885   Avafoxin  3/11/2023        90
1   2  758-08-7274  118-66-5958  Cleotrana  3/12/2023        10

In [34]:
for i,row in data.iterrows():
    sql = """INSERT INTO prescriptions(id, patient_id, physician_id, drug_name, date, quantity)
             VALUES (%s,%s,%s,%s,%s,%s)"""
    mycursor.execute(sql, tuple(row))
    print("Record inserted")
    mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [35]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM prescriptions LIMIT 5")
for x in mycursor:
    print(x)

(Decimal('1'), '478-34-0781', '614-57-6885', 'Avafoxin', '3/11/2023', Decimal('90'))
(Decimal('2'), '758-08-7274', '118-66-5958', 'Cleotrana', '3/12/2023', Decimal('10'))
(Decimal('3'), '758-08-7274', '118-66-5958', 'Primalovir', '4/11/2023', Decimal('20'))
(Decimal('4'), '758-08-7274', '118-66-5958', 'Glucozepam Amcipentin', '5/13/2023', Decimal('12'))
(Decimal('5'), '303-13-5928', '571-13-9020', 'Olanzanafine', '5/24/2023', Decimal('25'))

#### Adverse Interactions

In [12]:
data = pd.read_csv("../data/sql-project/adverse_reactions.csv")
print(data.head())

    drug_name_1            drug_name_2
0     Cleotrana                Kanulin
1    Primalovir     Abnazole Toleluble
2    Primalovir           Olanzanafine
3  Olanzanafine  Glucozepam Amcipentin
4      Avafoxin                Kanulin

In [14]:
for i,row in data.iterrows():
    sql = """INSERT INTO adverse_interactions(drug_name, drug_name_2)
             VALUES (%s,%s)"""
    mycursor.execute(sql, tuple(row))
    print("Record inserted")
    mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [15]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM adverse_interactions LIMIT 5")
for x in mycursor:
    print(x)

('Avafoxin', 'Kanulin')
('Cleotrana', 'Avafoxin')
('Cleotrana', 'Kanulin')
('Cleotrana', 'Quixiposide')
('Olanzanafine', 'Glucozepam Amcipentin')

#### Pharmacy Fills

In [25]:
data = pd.read_csv("../data/sql-project/pharmacy_fills.csv")
print(data.head())

   pharmacy_id  prescription_id       date   cost
0            1                3  3/15/2023  60.53
1            3                4  5/16/2023  41.50
2            1                2  3/12/2023  18.00
3            8                1  3/12/2023  46.53
4           10                5  5/26/2023  47.50

In [23]:
for i,row in data.iterrows():
    sql = """INSERT INTO pharmacy_fills(pharmacy_id, prescription_id, date, cost)
             VALUES (%s,%s,%s,%s)"""
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [31]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM pharmacy_fills LIMIT 5")
for x in mycursor:
    print(x)

(Decimal('1'), Decimal('8'), '3/12/2023', Decimal('46.53'))
(Decimal('2'), Decimal('1'), '3/12/2023', Decimal('18.00'))
(Decimal('3'), Decimal('1'), '3/15/2023', Decimal('60.53'))
(Decimal('4'), Decimal('3'), '5/16/2023', Decimal('41.50'))
(Decimal('5'), Decimal('10'), '5/26/2023', Decimal('47.50'))

#### Companies

In [32]:
data = pd.read_csv("../data/sql-project/companies.csv")
print(data.head(2))

   id       name                         address contact_phone contact_name
0   1     Goodrx  123 Main St, San Francisco, CA  123-456-7890  Holly Jolly
1   2  PHARMASEE        456 Elm St, New York, NY  234-567-8901  Faker Maker

In [33]:
for i,row in data.iterrows():
    sql = """INSERT INTO companies(id, name, address, contact_name, contact_phone)
             VALUES (%s,%s,%s,%s,%s)"""
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [34]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM companies LIMIT 5")
for x in mycursor:
    print(x)

(Decimal('1'), 'Goodrx', '123 Main St, San Francisco, CA', 'Holly Jolly', '123-456-7890')
(Decimal('2'), 'PHARMASEE', '456 Elm St, New York, NY', 'Faker Maker', '234-567-8901')
(Decimal('3'), 'DRUGXO', '789 Maple St, Los Angeles, CA', 'Silly Putty', '345-678-9012')
(Decimal('4'), 'Pharmachoice', '101 Pine St, Chicago, IL', 'Connie Honey', '456-789-0123')
(Decimal('5'), 'Castox', '234 Oak St, Houston, TX', 'Laxmi Kant Sheth', '567-890-1234')

#### Contracts

In [36]:
data = pd.read_csv("../data/sql-project/contracts.csv")
print(data.head(2))

   Contract_Id        drug  dosage  pharmacy_id  pharm_company_id  quantity  \
0            1   Cleotrana      50            5                10        40
1            2  Primalovir     500            5                10        20

        date  price
0  10/3/2023  100.0
1  9/26/2023   40.5

In [38]:
for i,row in data.iterrows():
    sql = """INSERT INTO contracts(id, drug_name, dosage, pharmacy_id, company_id, quantity, date, price)
             VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"""
    mycursor.execute(sql, tuple(row))
    mydb.commit()

In [39]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM contracts LIMIT 5")
for x in mycursor:
    print(x)

(Decimal('1'), Decimal('10'), Decimal('5'), 'Cleotrana', Decimal('50'), Decimal('40'), '10/3/2023', Decimal('100.00'))
(Decimal('2'), Decimal('10'), Decimal('5'), 'Primalovir', Decimal('500'), Decimal('20'), '9/26/2023', Decimal('40.50'))
(Decimal('3'), Decimal('9'), Decimal('4'), 'Kanulin', Decimal('1000'), Decimal('20'), '9/20/2023', Decimal('10.50'))
(Decimal('4'), Decimal('3'), Decimal('6'), 'Olanzanafine', Decimal('50'), Decimal('80'), '9/24/2023', Decimal('150.00'))
(Decimal('5'), Decimal('5'), Decimal('15'), 'Avafoxin', Decimal('5'), Decimal('30'), '9/29/2023', Decimal('18.00'))