##### Insert Data into `.hospital`

In [10]:
from dotenv import load_dotenv
import os
load_dotenv('../.env')
password = os.getenv("PASS")

In [11]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=password,
  database="hospital"
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x121ce3750>
CONNECTION SUCCESSFUL

In [12]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('adverse_interactions',)
('alerts',)
('companies',)
('contracts',)
('drugs',)
('patients',)
('pharmacies',)
('pharmacy_fills',)
('physicians',)
('prescriptions',)

In [ ]:
import pandas as pd
data = pd.read_csv("../data/sql-project/physicians.csv")

mycursor = mydb.cursor()

print(data.head())
print(data.columns)

for i,row in data.iterrows():
            sql = "INSERT INTO physicians VALUES (%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            mydb.commit()

           SSN        name primary_specialty  experience_years
0  614-57-6885  Srinivasan        Cardiology                 4
1  702-16-8749          Wu       Dermatology                10
2  571-13-9020      Mozart        Cardiology                 0
3  718-27-0905    Einstein        Psychiatry                29
4  230-12-3219     El Said        Psychiatry                12
Index(['SSN', 'name', 'primary_specialty', 'experience_years'], dtype='object')
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [15]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM physicians")
for x in mycursor:
    print(x)

('118-66-5958', 'Katz', 'Orthopedics', Decimal('3'))
('156-28-1945', 'Singh', 'Orthopedics', Decimal('25'))
('163-50-5535', 'Gold', 'Neurology', Decimal('8'))
('230-12-3219', 'El Said', 'Psychiatry', Decimal('12'))
('357-93-5814', 'Califieri', 'Cardiology', Decimal('21'))
('460-35-6754', 'Kim', 'Orthopedics', Decimal('2'))
('510-55-9776', 'Brandt', 'Psychiatry', Decimal('25'))
('522-86-5827', 'Crick', 'Neurology', Decimal('0'))
('571-13-9020', 'Mozart', 'Cardiology', Decimal('0'))
('614-57-6885', 'Srinivasan', 'Cardiology', Decimal('4'))
('702-16-8749', 'Wu', 'Dermatology', Decimal('10'))
('718-27-0905', 'Einstein', 'Psychiatry', Decimal('29'))