In [5]:
from dotenv import load_dotenv
import os
load_dotenv('../.env')
password = os.getenv("PASS")

In [26]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=password,
  database="data1050f25"
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x11e6b02d0>
CONNECTION SUCCESSFUL

In [27]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('advisor',)
('classroom',)
('course',)
('department',)
('instructor',)
('prereq',)
('student',)

In [ ]:
import pandas as pd
data = pd.read_csv("../data/sql-hw/course.csv")

for i,row in data.iterrows():
            sql = "INSERT INTO course VALUES (%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [39]:
prereq_data = pd.read_csv("../data/sql-hw/prereq.csv")
advisor_data = pd.read_csv("../data/sql-hw/advisor.csv")
classroom_data = pd.read_csv("../data/sql-hw/classroom.csv")

all_data = {"prereq":prereq_data, "advisor":advisor_data, "classroom":classroom_data}

for name, data in all_data.items():
    print(f"inserting {data.shape[0]} rows into {name}")
    placeholders = "%s," * (data.shape[1]-1) + "%s"
    for i,row in data.iterrows():
                sql = f"INSERT INTO {name} VALUES ({placeholders})"
                mycursor.execute(sql, tuple(row))
                print("Record inserted")
                mydb.commit()

inserting 7 rows into prereq
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
inserting 9 rows into advisor
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
inserting 14 rows into classroom
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [47]:
# intro :)
print("peak at records from... \n")
# iter over list of tables
for table in ["course", "prereq", "advisor", "classroom"]:
    # print title
    print(f"{table.upper()}")
    # select 5 records and print
    mycursor = mydb.cursor()
    mycursor.execute(f"SELECT * FROM {table} LIMIT 5")
    for x in mycursor:
        print(x)
    print()

peak at records from...

COURSE
('APMA1650', 'Statistical Inference 1', 'AppMath', 1)
('CSCI1270', 'Database Management Systems', 'CompSci', 1)
('Data1030', 'Hands-on data science', 'DSI', 1)
('Data1050', 'Data Engineering', 'DSI', 1)
('Data1450', 'Text Analysis', 'DSI', 1)

PREREQ
('Data1050', 'CSCI1270')
('Data2050', 'Data1030')
('Data1030', 'Data1050')
('Data2050', 'Data1050')
('Econ9999', 'Econ2180')

ADVISOR
('1221', '115')
('1238', '111')
('1333', '111')
('1455', '116')
('1645', '117')

CLASSROOM
('Angell', 303, 80)
('Angell', 370, 20)
('Angell', 405, 30)
('CIT', 312, 200)
('CIT', 320, 55)